{% capture inner -%}
  <style>
    * {
    overflow: clip;
    margin: 0;
    background-color: transparent;
  }
  </style>
  <div style="position:relative;">
    <img src="{{include.preview}}" style="max-width:100%;max-height:100%;" />
    <a href="{{include.embed}}"> <div style="
      position:absolute;
      top:5%;
      left:5%;
      padding: 6px 6px;
      border: 1px outset buttonborder;
      color: buttontext;
      background-color: buttonface;
      font-family: sans-serif;
      text-decoration: none;"
    >{{include.buttontext}}</div></a>
  </div>
{%- endcapture %}

<iframe width="100%"
    style="background-color:transparent;aspect-ratio:16/9;border-style:none;"
    scrolling="no" allowfullscreen
    sandbox="{{sandbox}}" srcdoc="{{inner | escape}}">
  <a href="{{include.direct}}">
    <img src="{{include.preview}}" />
  </a>
</iframe>
